<body class="{{ if .IsHome }}home blog layout-sidebar-right parallax-enabled sticky-sidebar-enabled lazy-load-enabled navbar-scroll-enabled{{ else }}post-template-default single single-post single-format-standard layout-sidebar-right pin-it-enabled parallax-enabled sticky-sidebar-enabled lazy-load-enabled navbar-scroll-enabled share-buttons-enabled featured-image-standard{{ end }}" style="transform: none;" cz-shortcut-listen="true">

	<div id="fb-root"></div>

	<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '253873004991221',
      xfbml      : true,
      version    : 'v2.6'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/pt_BR/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<header class="site-header">
  <div class="header-navbar-secondary">
    <nav class="navbar navbar-secondary">
      <div class="container">

                  <ul id="menu-categories" class="nav navbar-nav hidden-sm-down">
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                      <a href="/sobre">Sobre</a>
                    </li>
                    <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                      <a target="_blank" rel="noopener" href="http://websites.igluonline.com" ga-on="click" ga-event-category="Menu" ga-event-action="Click"
                        ga-event-label="Portfólio">Portfólio</a>
                    </li>

                  </ul>
        <ul class="nav navbar-nav navbar-icons">
                        <li class="menu-item">
          <a target="_blank" rel="noopener" href="https://www.facebook.com/igluonline/" ga-on="click" ga-event-category="Social" ga-event-action="Click" ga-event-label="FacebookHeader">
            <i class="icon icon-facebook"></i>
                      </a>
        </li>
                      <li class="menu-item">
          <a target="_blank" rel="noopener" href="https://twitter.com/andrelug_" ga-on="click" ga-event-category="Social" ga-event-action="Click" ga-event-label="TwitterHeader">
            <i class="icon icon-twitter"></i>
                      </a>
        </li>
                      <li class="menu-item">
          <a target="_blank" rel="noopener" href="https://www.instagram.com/andre_lug/" ga-on="click" ga-event-category="Social" ga-event-action="Click" ga-event-label="InstagramHeader">
            <i class="icon icon-instagram"></i>
                      </a>
        </li>
                      <li class="menu-item">
          <a target="_blank" rel="noopener" href="https://plus.google.com/u/0/collection/0TVuZ" ga-on="click" ga-event-category="Social" ga-event-action="Click" ga-event-label="GooglePlusHeader">
            <i class="icon icon-google-plus"></i>
                      </a>
        </li>
                      <li class="menu-item">
          <a target="_blank" rel="noopener" href="https://br.pinterest.com/andrelug/" ga-on="click" ga-event-category="Social" ga-event-action="Click" ga-event-label="PinterestHeader">
            <i class="icon icon-pinterest"></i>
                      </a>
        </li>
                      <li class="menu-item">
          <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/andrelug" ga-on="click" ga-event-category="Social" ga-event-action="Click" ga-event-label="LinkedinHeader">
            <i class="icon icon-linkedin"></i>
                      </a>
        </li>
                      <li class="menu-item">
          <a target="_blank" rel="noopener" href="https://www.youtube.com/channel/UCybl6LOBsIJ6R5dXUdbmmXA" ga-on="click" ga-event-category="Social" ga-event-action="Click" ga-event-label="YoutubeHeader">
            <i class="icon icon-youtube"></i>
                      </a>
        </li>
                          </ul>

      </div>
    </nav>
  </div>



  <div class="header">
    <div class="container">
      <div class="header-content" style="height: auto;">

        <div class="header-left">
          <button class="navbar-toggle hidden-md-up" type="button" data-toggle="collapse" data-target="#navbar-primary">
            <i class="icon icon-menu"></i>
          </button>

                      <a href="/contato" class="btn btn-secondary btn-subscribe btn-effect hidden-sm-down"  ga-on="click" ga-event-category="Menu" ga-event-action="Click" ga-event-label="Contato">
              <span>Contato</span>
              <span><i class="icon icon-mail"></i></span>
		  </a>
                  </div>

        <div class="header-center text-center">
                    <a href="/" class="header-logo" ga-on="click" ga-event-category="Link" ga-event-action="click" ga-event-label="Logo">
            <img src="images/logo_iglu.png" alt="Iglu Online">
             {{ if eq (relURL .URL) ("/" | safeHTML) }}
              <h1 style="font-size:20px;">Design e Desenvolvimento Web</h1>
             {{ end }}
          </a>
                  </div>

        <div class="header-right">
                    <a href="#search" class="header-btn-search" ga-on="click" ga-event-category="Menu" ga-event-action="click" ga-event-label="Busca"><i class="icon icon-search"></i></a>
                  </div>

      </div>
    </div>
  </div>

  <div class="sticky-wrapper"><div class="header-navbar-primary header-navbar-scroll header-navbar-not-bottom header-navbar-pinned header-navbar-top">
    <div class="container">
      <div class="collapse navbar-toggleable" id="navbar-primary">
        <nav class="navbar navbar-primary">



                          <a href="/" class="navbar-brand" style="line-height: 50px;" ga-on="click" ga-event-category="Link" ga-event-action="click" ga-event-label="Logo">
                <img src="images/logo_iglu.png" alt="Iglu Online" style="height:40px;">
              </a>


          <ul id="menu-main" class="nav navbar-nav">
			  <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children"><a href="/categories/design" ga-on="click" ga-event-category="Menu" ga-event-action="Click" ga-event-label="Design">Design</a>
				  <ul class="sub-menu">
					  <li class="menu-item menu-item-type-custom menu-item-object-custom">
						  <a href="/categories/ferramentas-photoshop/" ga-on="click" ga-event-category="Menu" ga-event-action="Click" ga-event-label="Ferramentas Photoshop">Ferramentas Photoshop</a>
					  </li>
				  </ul>
			  </li>

			  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
				  <a href="/categories/desenvolvimento-web" ga-on="click" ga-event-category="Menu" ga-event-action="Click" ga-event-label="Programação">Desenvolvimento Web</a>
					<ul class="sub-menu">
					  <li class="menu-item menu-item-type-custom menu-item-object-custom">
						  <a href="/categories/wordpress" ga-on="click" ga-event-category="Menu" ga-event-action="Click" ga-event-label="WordPress">WordPress</a>
					  </li>
				  </ul>
			  </li>

			  <li class="menu-item menu-item-type-custom menu-item-object-custom">
				  <a href="/ferramentas-para-o-sucesso-seu-blog/" ga-on="click" ga-event-category="Menu" ga-event-action="Click" ga-event-label="Ferramentas">Ferramentas para Blog</a>
        </li>
        
			  <li class="menu-item menu-item-type-custom menu-item-object-custom">
				  <a href="/categories/download-gratis" ga-on="click" ga-event-category="Menu" ga-event-action="Click" ga-event-label="Download Grátis">Download Grátis</a>
			  </li>

</ul>
          <a href="#search" class="navbar-search" style="line-height: 50px;" ga-on="click" ga-event-category="Menu" ga-event-action="Click" ga-event-label="Busca"><i class="icon icon-search"></i></a>
        </nav>
      </div>
    </div>
  </div></div>

</header>
