<body class="home blog layout-sidebar-right pin-it-enabled parallax-enabled sticky-sidebar-enabled lazy-load-enabled navbar-scroll-enabled" style="transform: none;" cz-shortcut-listen="true">

<header class="site-header">
  <div class="header-navbar-secondary">
    <nav class="navbar navbar-secondary">
      <div class="container">

                  <ul id="menu-categories" class="nav navbar-nav hidden-sm-down"><li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/sobre">Sobre</a></li>
<li id="menu-item-227" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-227"><a target="_blank" href="http://websites.igluonline.com">Portfólio</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/lista-de-leitura">Lista de leitura</a></li>
<li class="menu-item menu-item-type-taxonomy menu-item-object-category"><a href="/minha-lista-impossivel">Minha lista impossível</a></li>
</ul>
        <ul class="nav navbar-nav navbar-icons">
                        <li class="menu-item">
          <a target="_blank" href="https://www.facebook.com/igluonline/">
            <i class="icon icon-facebook"></i>
                      </a>
        </li>
                      <li class="menu-item">
          <a target="_blank" href="https://twitter.com/andrelug_">
            <i class="icon icon-twitter"></i>
                      </a>
        </li>
                      <li class="menu-item">
          <a target="_blank" href="https://www.instagram.com/igluonline/">
            <i class="icon icon-instagram"></i>
                      </a>
        </li>
                      <li class="menu-item">
          <a target="_blank" href="https://plus.google.com/u/0/collection/0TVuZ">
            <i class="icon icon-google-plus"></i>
                      </a>
        </li>
                      <li class="menu-item">
          <a target="_blank" href="https://br.pinterest.com/andrelug/">
            <i class="icon icon-pinterest"></i>
                      </a>
        </li>
                      <li class="menu-item">
          <a target="_blank" href="https://www.linkedin.com/in/andrelug">
            <i class="icon icon-linkedin"></i>
                      </a>
        </li>
                      <li class="menu-item">
          <a target="_blank" href="https://www.youtube.com/channel/UCybl6LOBsIJ6R5dXUdbmmXA">
            <i class="icon icon-youtube"></i>
                      </a>
        </li>
                          </ul>

      </div>
    </nav>
  </div>



  <div class="header">
    <div class="container">
      <div class="header-content">

        <div class="header-left">
          <button class="navbar-toggle hidden-md-up" type="button" data-toggle="collapse" data-target="#navbar-primary">
            <i class="icon icon-menu"></i>
          </button>
                      <a href="http://eepurl.com/bV0MPb" class="btn btn-secondary btn-subscribe btn-effect hidden-sm-down" target="_blank">
              <span>Inscreva</span>
              <span><i class="icon icon-mail"></i></span>
            </a>
                  </div>

        <div class="header-center">
                    <a href="/" class="header-logo">
            <img src="images/logo_iglu.png" alt="Authentic">
          </a>
                  </div>

        <div class="header-right">
                    <a href="#search" class="header-btn-search"><i class="icon icon-search"></i></a>
                  </div>

      </div>
    </div>
  </div>

  <div class="sticky-wrapper"><div class="header-navbar-primary header-navbar-scroll header-navbar-not-bottom header-navbar-pinned header-navbar-top">
    <div class="container">
      <div class="collapse navbar-toggleable" id="navbar-primary">
        <nav class="navbar navbar-primary">



                          <a href="/" class="navbar-brand" style="line-height: 50px;">
                <img src="images/logo_iglu.png" alt="Authentic" style="height:40px;">
              </a>


          <ul id="menu-main" class="nav navbar-nav">
			  <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children"><a href="/category/design">Design</a>
				  <ul class="sub-menu">
					  <li class="menu-item menu-item-type-custom menu-item-object-custom">
						  <a href="/category/design/ferramentas-photoshop/">Ferramentas Photoshop</a>
					  </li>
				  </ul>
			  </li>

			  <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="/category/lifestyle/">Lifestyle</a>
				  <ul class="sub-menu">
					  <li class="menu-item menu-item-type-custom menu-item-object-custom">
						  <a href="/category/lifestyle/trabalho/">Trabalho</a>
					  </li>
					  <li class="menu-item menu-item-type-custom menu-item-object-custom">
						  <a href="/category/lifestyle/produtividade/">Produtividade</a>
					  </li>
					  <li class="menu-item menu-item-type-custom menu-item-object-custom">
						  <a href="/category/lifestyle/reflexoes/">Reflexões</a>
					  </li>
				  </ul>
			  </li>

			  <li class="menu-item menu-item-type-custom menu-item-object-custom">
				  <a href="/category/wordpress">WordPress</a>
			  </li>

			  <li class="menu-item menu-item-type-custom menu-item-object-custom">
				  <a href="/category/programacao">Programaçaõ</a>
			  </li>

			  <li class="menu-item menu-item-type-custom menu-item-object-custom">
				  <a target="_blank" href="/ferramentas-para-o-sucesso-seu-blog/">Ferramentas</a>
			  </li>

</ul>
          <a href="#search" class="navbar-search" style="line-height: 50px;"><i class="icon icon-search"></i></a>
        </nav>
      </div>
    </div>
  </div></div>

</header>
