<!DOCTYPE html>
<html lang="pt-br" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	<head>
		<meta name="google-site-verification" content="yrpnyP410syvNRJXAoliO2yy9hPkQKLN2g7V7JE4Ubs" />
		<meta name="p:domain_verify" content="12fdb4eafc0fc6fe7c4689bd659edd5b"/>
		<meta name="verification" content="b56e2eb3e441cc69250129d688be5076" />


		<meta charset="UTF-8">
		<meta name="theme-color" content="#3590ad">
		<link rel="manifest" href="/manifest.json">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
		<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
		<link rel="icon" href="/images/favicon.png">
	    <base href="{{ .Site.BaseURL }}">

		{{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
		{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
		{{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}


		<link rel="canonical" href="{{ .Permalink }}">
		{{ if .RSSLink }}
		<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
	    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">
	    {{ end }}

		<!-- Facebook -->
	    <meta property="og:url" content="{{ .Permalink }}">
	    {{if not .IsHome}}<meta property="og:type" content="article">{{end}}
	    <meta property="og:title" content="{{ .Title}}">
	    <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{ .Param "excerpt" }}{{ end }}" name="description">
	    <meta property="og:image" content="/images/{{.Param "featured_image" }}.{{ .Param "featured_image_extension" }}">
		<meta property="og:locale" content="pt_BR">
		<meta property="og:site_name" content="Iglu">

	    <meta property="fb:app_id" content="253873004991221">
		<meta property="fb:pages" content="663101680495099">

		<meta property="article:publisher" content="https://www.facebook.com/igluonline">
		<meta property="article:author" content="https://www.facebook.com/igluonline/">
		{{if .IsPage}}
			<meta property="article:published_time" content="{{ .PublishDate }}" />
		{{ end }}
		<meta property="article:modified_time" content="{{ .Date }}" />
		<meta property="article:section" content="{{ .Section }}" />
		{{ with .Params.tags }}{{ range first 6 . }}
			<meta property="article:tag" content="{{ . }}" />
		{{ end }}{{ end }}

		<!-- Twitter -->
	    <meta name="twitter:card" content="summary">
	    <meta name="twitter:site" content="@andrelug_">
	    <meta name="twitter:title" content="{{.Title}}">
	    <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{ .Param "excerpt" }}{{ end }}">
	    <meta name="twitter:image" content="/images/{{.Param "featured_image" }}.{{ .Param "featured_image_extension" }}">

		<!-- Styles -->
		<link rel="stylesheet" href="css/mini.css" type="text/css" media="all">
		<link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Lato%3Aregular%7CMontserrat%3A500%2C600%2C700%2Cregular&amp;subset=latin-ext" type="text/css" media="all">

		<!-- Home -->
		{{if .IsHome}}
	    <script type='application/ld+json'>
	      {
	        "@context": "http://www.schema.org",
	        "@type": "WebSite",
	        "name": "{{.Site.Params.siteName}}",
	        "alternateName": "{{ .Site.Title }}",
	        "url": "{{ .Site.BaseURL}}",
	        "description": "Artigos e notíficas sobre desenvolvimento web e design.",
	        "publisher": "Iglu",
	        "potentialAction": {
	          "@type": "SearchAction",
	          "target": "https://duckduckgo.com/?sites=igluonline.com.br&q={search_term}&kl=br-pt&kz=1&ky=e&k8=g&k1=-1&kj=w&x=0&y=0&ia=web",
	          "query-input": "required name=search_term" }
	        }
	    </script>
	    {{end}}

		<!-- Single -->
		{{ if $.Scratch.Get "single"}}
	    <script type="application/ld+json">
	      { "@context": "http://schema.org",
	        "@type": "Article",
	        "headline": "{{.Title}}",
	        "author": "{{ .Param "author" }}",
	        "image": "{{ with .Params.image }}{{ . }}{{ else }}/images/missing-img.png{{ end }}",
	        "publisher": {
	          "@type" : "Organization",
	          "name":"{{.Site.Params.siteName}}",
	          "logo":"https://www.igluonline.com.br/images/logo_iglu.png"
	          },
	        "url": "{{ .Permalink }}",
	        "wordCount": "{{ .FuzzyWordCount }}",
	        "keywords": "{{.Params.tags}}",
	        "datePublished": "{{.Params.date}}",
	        "dateCreated": "{{.Params.date}}",
	        "dateModified": "{{.Lastmod}}",
	        "articleBody": "{{.Content| plainify}}",
	        "description": "{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{ .Param "excerpt" }}{{ end }}"
	      }
	    </script>

	    {{ end }}

		<script type="text/javascript">
		function submited(){
			setTimeout(function(){
				window.location.href = "https://www.igluonline.com/obrigado-por-se-cadastrar/";
			}, 1000);
		}
	</script>

<script type="text/javascript">

    /** This section is only needed once per page if manually copying **/
    if (typeof MauticSDKLoaded == 'undefined') {
        var MauticSDKLoaded = true;
        var head            = document.getElementsByTagName('head')[0];
        var script          = document.createElement('script');
        script.type         = 'text/javascript';
        script.src          = 'https://13.92.177.75/media/js/mautic-form.js';
        script.onload       = function() {
            MauticSDK.onLoad();
        };
        head.appendChild(script);
        var MauticDomain = 'https://13.92.177.75';
        var MauticLang   = {
            'submittingMessage': "Agradecemos! :)"
        }
    }
</script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-79244441-3', 'auto');
ga('require', 'displayfeatures');
ga('send', 'pageview');

</script>

<!-- fullstory -->
<script>
window['_fs_debug'] = false;
window['_fs_host'] = 'www.fullstory.com';
window['_fs_org'] = '3XXSY';
window['_fs_namespace'] = 'FS';
(function(m,n,e,t,l,o,g,y){
    if (e in m && m.console && m.console.log) { m.console.log('FullStory namespace conflict. Please set window["_fs_namespace"].'); return;}
    g=m[e]=function(a,b){g.q?g.q.push([a,b]):g._api(a,b);};g.q=[];
    o=n.createElement(t);o.async=1;o.src='https://'+_fs_host+'/s/fs.js';
    y=n.getElementsByTagName(t)[0];y.parentNode.insertBefore(o,y);
    g.identify=function(i,v){g(l,{uid:i});if(v)g(l,v)};g.setUserVars=function(v){g(l,v)};
    g.identifyAccount=function(i,v){o='account';v=v||{};v.acctId=i;g(o,v)};
    g.clearUserCookie=function(c,d,i){if(!c || document.cookie.match('fs_uid=[`;`]*`[`;`]*`[`;`]*`')){
    d=n.domain;while(1){n.cookie='fs_uid=;domain='+d+
    ';path=/;expires='+new Date(0).toUTCString();i=d.indexOf('.');if(i<0)break;d=d.slice(i+1)}}};
})(window,document,window['_fs_namespace'],'script','user');
</script>


	</head>
