<!DOCTYPE html>
<html lang="pt-br" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
	<head>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-5K3P2KD');</script>
		<!-- End Google Tag Manager -->
		<meta name="google-site-verification" content="yrpnyP410syvNRJXAoliO2yy9hPkQKLN2g7V7JE4Ubs" />
		<meta name="p:domain_verify" content="12fdb4eafc0fc6fe7c4689bd659edd5b"/>
		<meta name="verification" content="b56e2eb3e441cc69250129d688be5076" />


		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} &middot; {{ .Site.Title }}{{ end }}</title>
		<link rel="icon" href="images/favicon.png">
	    <base href="{{ .Site.BaseURL }}">

		{{ with .Site.Params.name }}<meta name="author" content="{{ . }}">{{ end }}
		{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
		{{ with .Site.LanguageCode }}<meta http-equiv="content-language" content="{{ . }}" />{{ end }}


		<link rel="canonical" href="{{ .Permalink }}">
		{{ if .RSSLink }}
		<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}">
	    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">
	    {{ end }}

		<!-- Facebook -->
	    <meta property="og:url" content="{{ .Permalink }}">
	    {{ if $.Scratch.Get "single"}}<meta property="og:type" content="article">{{end}}
	    <meta property="og:title" content="{{ .Title}}">
	    <meta property="og:description" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{ .Param "excerpt" }}{{ end }}" name="description">
	    <meta property="og:image" content="{{ with .Params.featured_image }}{{ . }}{{ else }}images/marca_quadrada.jpg{{ end }}">
		<meta property="og:locale" content="pt_BR">
		<meta property="og:site_name" content="Iglu">

	    <meta property="fb:app_id" content="187329465112652">
		<meta property="fb:pages" content="663101680495099">

		<meta property="article:publisher" content="https://www.facebook.com/igluonline">
		<meta property="article:author" content="https://www.facebook.com/igluonline/">
		{{if .IsPage}}
			<meta property="article:published_time" content="{{ .PublishDate }}" />
		{{ end }}
		<meta property="article:modified_time" content="{{ .Date }}" />
		<meta property="article:section" content="{{ .Section }}" />
		{{ with .Params.tags }}{{ range first 6 . }}
			<meta property="article:tag" content="{{ . }}" />
		{{ end }}{{ end }}

		<!-- Twitter -->
	    <meta name="twitter:card" content="summary">
	    <meta name="twitter:site" content="@andrelug_">
	    <meta name="twitter:title" content="{{.Title}}">
	    <meta name="twitter:description" content="{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{ .Param "excerpt" }}{{ end }}">
	    <meta name="twitter:image" content="{{ with .Params.image }}{{ . }}{{ else }}images/marca_quadrada.jpg{{ end }}">

		<!-- Styles -->
		<link rel="stylesheet" href="css/styles.css" type="text/css" media="all">
		<link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Lato%3Aregular%7CMontserrat%3A500%2C600%2C700%2Cregular&amp;subset=latin-ext" type="text/css" media="all">

		<!-- Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="js/jquery_migrate.js"></script>

		<!-- Home -->
		{{if .IsHome}}
	    <script type='application/ld+json'>
	      {
	        "@context": "http://www.schema.org",
	        "@type": "WebSite",
	        "name": "{{.Site.Params.siteName}}",
	        "alternateName": "{{ .Site.Title }}",
	        "url": "{{ .Site.BaseURL}}",
	        "description": "Artigos e notíficas sobre desenvolvimento web e design.",
	        "publisher": "Iglu",
	        "potentialAction": {
	          "@type": "SearchAction",
	          "target": "https://duckduckgo.com/?sites=igluonline.com.br&q={search_term}&kl=br-pt&kz=1&ky=e&k8=g&k1=-1&kj=w&x=0&y=0&ia=web",
	          "query-input": "required name=search_term" }
	        }
	    </script>
	    {{end}}

		<!-- Single -->
		{{ if $.Scratch.Get "single"}}

	    <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
	    <script>
	      var googletag = googletag || {};
	      googletag.cmd = googletag.cmd || [];
	    </script>

	    <script>
	      googletag.cmd.push(function() {
	        googletag.defineSlot('/7969368/RetanguloMedio-TopoSidebar', [[300, 250], [300, 300], [360, 360], [336, 280]], 'div-gpt-ad-1491747715151-0').addService(googletag.pubads());
	        googletag.pubads().enableSingleRequest();
	        googletag.pubads().collapseEmptyDivs();
	        googletag.enableServices();
	      });
	    </script>

	    <script type="application/ld+json">
	      { "@context": "http://schema.org",
	        "@type": "Article",
	        "headline": "{{.Title}}",
	        "author": "{{ .Param "author" }}",
	        "image": "{{ with .Params.image }}{{ . }}{{ else }}/images/missing-img.png{{ end }}",
	        "publisher": {
	          "@type" : "Organization",
	          "name":"{{.Site.Params.siteName}}",
	          "logo":"http://tableless.com.br/images/logo.svg"
	          },
	        "url": "{{ .Permalink }}",
	        "wordCount": "{{ .FuzzyWordCount }}",
	        "keywords": "{{.Params.tags}}",
	        "datePublished": "{{.Params.date}}",
	        "dateCreated": "{{.Params.date}}",
	        "dateModified": "{{.Lastmod}}",
	        "articleBody": "{{.Content| plainify}}",
	        "description": "{{ if .IsHome }}{{ .Site.Title }} - {{ .Site.Params.description}}{{ else }}{{ .Param "excerpt" }}{{ end }}"
	      }
	    </script>

	    {{ end }}


	</head>
